# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS specific
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3
ios/**/*~.nib/
ios/**/*.swp
ios/**/*.xcworkspace/xcuserdata/
ios/**/*.xcworkspace/xcshareddata/
ios/**/Flutter/Flutter.framework/

# Environment variables (sensitive data)
.env
.env.local
.env.*.local

# Firebase sensitive config
android/app/google-services.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Generation files
*.g.dart
*.freezed.dart
