<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835917125087-f61t9fpd001pj1em5ua4fjidnsbpn4d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835917125087-f61t9fpd001pj1em5ua4fjidnsbpn4d3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPJxwboJpekwChQNIioTkjbWDfof9H3PI</string>
	<key>GCM_SENDER_ID</key>
	<string>835917125087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymusic.dev</string>
	<key>PROJECT_ID</key>
	<string>ymusic-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ymusic-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835917125087:ios:dee7a33f9b27be1c37206a</string>
</dict>
</plist>